:root{
	--marrom:#673923;
	--marrom-escuro:#2c1307;
	--amarelo:#FFC271;
	--verde:#4D7B5E;
	--vermelho:#BD4851;
	--branco:#FEFEFD;
}

html {
	background-color: var(--marrom-escuro);
	font-family: "Rubik", sans-serif;
	overflow: hidden;
}

.body,
html {
	height: 100%;
}

.container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	color: var(--vermelho);
	font-size: 50px;
	text-align: center;
	margin-top: 50px;
}

h2 {
	color: var(--verde);
	font-size: 30px;
	text-align: center;
	margin-top: 30px;
}

h3 {
	color: var(--amarelo);
	font-size: 30px;
	text-align: center;
	margin: 0 5px;
}

.logo {
	width: 500px;
	height: 500px;
	margin-top: 10px;
}



#copyright{
	position: fixed;
	bottom: 0;
	width: 100%;
	color: white;
	background-color: black;
	text-align: center;
	padding: 5px 0;
}



/*media queries*/

@media only screen and (max-width: 480px) {
	.logo {
		width: 300px;
		height: 300px;
		margin-top: 10px;
	}
	
}

@media only screen and (max-width: 850px) and (min-width: 481px) {
	
}

@media only screen and (max-width: 1400px) and (min-width: 851px) {

}